*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #f2f2f2;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    flex-direction: column;
    background-color: #d6e3f7;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}
.loginform .imagen{
    height: 60px;
    width: auto;
}
.loginform .imagen img{
    height: 100%;
    width: auto;
}
form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.contraseña label{
    position: absolute;
    left: 1%;
    top: 50%; 
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
form .contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
input[type="submit"]{
    width: 70%;
    height: 35px;
    border: 1px solid;
    background: #0d6efd;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    outline: none;
}
